<h1>Edit User</h1>
<form action= "/users/<%= @user.id %>" method='post'>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type ='hidden' name="_method" value='patch'>
    Name<input type='text' value= <%= @user.name %> name='user[name]'> 
    Email<input type='email' value= <%= @user.email %> name='user[email]'>
    Password<input type='password' name ='user[password]'>
    Password Confirmation <input type ='password' name ='user[password_confirmation]'>
    <input type='submit' value='Update'>
</form>
